[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	abandon = group Samsung d710
	push = group Samsung d710
	label-Code-Review = -2..+2 group Samsung d710
	labelAs-Code-Review = -2..+2 group Samsung d710
	submit = group Samsung d710
	submitAs = group Samsung d710
	editTopicName = group Samsung d710
